pre-commit==2.16.0
pre-commit-hooks==4.1.0
pylint==2.12.2
black==21.12b0
isort==5.10.1
docformatter==1.4.0
tomli<2.0.0
mistune>=2.0.5

fastapi==0.92.0
starlette==0.25.0
pydantic==1.10.2
email-validator==2.0.0
uvicorn==0.20.0

